<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ page.title | default: site.title }}">
    <meta property="og:description" content="{{ page.meta_description | default: site.description }}">
    <meta property="og:image" content="{{ page.image | default: 'https://scriptandpad.com/logo.jpg' }}">
    <meta property="og:url" content="https://scriptandpad.com{{ page.url }}">
    <meta property="og:type" content="article">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    {{ page.meta | default: "" }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "headline": "{{ page.title }}",
  "image": "https://scriptandpad.com/logo.jpg", 
  "author": {
    "@type": "Person",
    "name": "Screenplay Writer"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Screenplay Writer",
    "logo": {
      "@type": "ImageObject",
      "url": "https://scriptandpad.com/logo.jpg"
    },
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://scriptandpad.com/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
  },
  "datePublished": "{{ page.date | date: '%Y-%m-%d' }}",
  "dateModified": "{{ page.date | date: '%Y-%m-%d' }}",
  "description": "{{ page.meta_description | default: site.description }}"
}
</script>

{% if page.images %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {% for image in page.images %}
    {
      "@type": "ImageObject",
      "url": "{{ image.url | absolute_url }}",
      "width": {{ image.width }},
      "height": {{ image.height }},
      "description": "{{ image.description }}"
    }{% if forloop.last == false %},{% endif %}
    {% endfor %}
  ]
}
</script>
{% endif %}

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M5L6M6HPR2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-M5L6M6HPR2');
</script>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-brand">
                <img src="/logo.jpg" alt="Screenplay Writer Logo" class="navbar-logo" />
                Screenplay Writer
            </a>
            <ul class="navbar-links">
                <li><a href="/privacy.html">Privacy Policy</a></li>
                <li><a href="/terms.html">Terms of Service</a></li>
                <li><a href="/support.html">Support</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
        </div>
    </nav>
</header>

    <main>
        {{ content }}
    </main>

    <footer>
        <div class="footer-container">
            <p>© 2024 Screenplay Writer. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
