---
layout: default
---
<article class="blog-post">
    <h1>{{ page.title }} (Rendered by default layout)</h1>
    <p>{{ page.date | date: "%B %d, %Y" }}</p>
    <div class="content">
        {{ content }}
    </div>
</article>
<div class="related-posts">
    <p>Total posts: {{ site.posts | size }}</p>
{% for post in site.posts %}
  <p>Post: {{ post.title }}</p>
  <p>Tags: {{ post.tags | inspect }}</p>
  <p>Current Page Tags: {{ page.tags | inspect }}</p>
  <p>Intersection Size: {{ post.tags | intersect: page.tags | size }}</p>
{% endfor %}

  <h3>Related Posts</h3>
  <ul>
    {% for post in site.posts %}
      {% if post != page and post.tags | intersect: page.tags | size > 0 %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
