---
layout: default
---
<article class="blog-post">
    {% comment %} decorative svgs for feel-good theme; choose random icons on each page load {% endcomment %}
    {% assign svgs = "/assets/creatives/icon-writing.svg,/assets/creatives/icon-directing.svg,/assets/creatives/icon-templates.svg,/assets/creatives/blog-thumb-writing.svg,/assets/creatives/blog-thumb-directing.svg,/assets/creatives/blog-thumb-festivals.svg" | split: "," %}
    {% assign left_svg = svgs | sample %}
    {% assign right_svg = svgs | sample %}
    <div class="decorations">
        <img class="dec-left" src="{{ left_svg }}" alt="decorative graphic" />
        <img class="dec-right" src="{{ right_svg }}" alt="decorative graphic" />
    </div>

    <h1>{{ page.title }}</h1>
    <p class="post-date">{{ page.date | date: "%B %d, %Y" }}</p>
    <div class="content">
        {{ content }}
    </div>
</article>
<div class="related-posts">
  <h3>Related Posts</h3>
  {% assign related_count = 0 %}
  <ul>
    {% for post in site.posts %}
      {% assign common = post.tags | intersect: page.tags | size %}
      {% if post != page and common > 0 %}
        {% assign related_count = related_count | plus: 1 %}
        <li>
          <a href="{{ post.url | relative_url }}">
            <span class="related-post-title">{{ post.title }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
    {% if related_count == 0 %}
      <li><span class="no-posts">No related posts available.</span></li>
    {% endif %}
  </ul>
</div>
